<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc Zés</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
<!--container principal-->
<div class="principal">
<!--container one-->
<div class="central">
    <!--esquerdo-->
<div class="esquerdo" id="esquerdo">
<h1 id="h1esq">Bem-vindo Zé</h1>
<h2 id="h2esq">Login</h2>
<p1 id="p1esq">Insira o seu Username</p1>
<input type="text" id="inputusername">
<p2 id="p2esq">Insira a sua Password</p2>
<i id="pass-img"></i>
<div class="inputbox">
<input type="password" id="inputpass"> 
<img src="assets/see.png" class="see" id="image-see">
</div>
<p3 id="p3esq">Ainda não tem conta? Registe-se <a id="aqui">AQUI</a></p3>
<button id="buttonesq">LOGIN</button>
</div>
<!--direito-->
<div class="direito" id="direito">
    <img src="assets/Login-pc.png" id="imagem">
</div>
<!--O container change-->
<div class="change" id="change">
    <h1 id="h1ch">Bem-vindo Zé</h1>
    <h2 id="h2ch">Register</h2>
    <p1 id="p1ch">Insira o seu Username</p1>
    <input type="text" id="inputusernamech">
    <p4 id="p4ch">Insira o seu Email</p4>
    <input type="text" id="inputemailch">
    <p2 id="p2ch">Insira a sua Password</p2>
    <div class="inputboxch">
        <input type="password" id="inputpasschone">
        <img src="assets/see.png" class="see" id="image-seeone">
        </div>
    <p3 id="p3ch">Insira a sua Password Novamente</p3>
    <div class="inputboxch">
    <input type="password" id="inputpasschdois">
    <img src="assets/see.png" class="see" id="image-seedois">
    </div>
    <p3 id="p3ch">Já tem conta? Faça login <a id="aquich">AQUI</a></p3>
    <button id="buttonch">REGISTER</button>
    </div>
</div>
</div>
<script src="LoginScripts.js"></script>
</body>
</html>