<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="perfil.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>Zé´s Doc</title>
</head>
<body>
<!--nav-bar-->
<nav class="navbar">
<!--container-->
<div class="navbar_container">
    <!--titulo-->
   <h1 id="navbar_title">PERFIL</h1> 
   <!--navbar home-->
   <ul class="navbar_home">
    <a href="/" id="link_home">
    <ion-icon name="home-outline"></ion-icon>
    </a>
   </ul>
</div>   
</nav>
<!--container primeira linha-->
<div class="linhaone">
<!--imagem-->
<img class="foto">
<!--container linha one column2-->
<div class="linhaonecolum2">
<div class="nomemail">
<h1>NOME</h1>
<h2>EMAIL</h2>
</div>
<button id="editar">EDITAR</button>    
</div>
</div>
<div class="detalhes">

<h1>UNIVERSIDADE</h1>
<h2>CURSO</h2>
<h3>ANO</h3>
<h4>MEDIA</h4>
<h5>CADEIRAS</h5>

</div>

<div class="slider"></div>
<button id="adicionarcadeiras">ADICIONAR CADEIRAS</button>
</body>
</html>