<!DOCTYPE html>
<html>
<!--FOOTER-->
<head>
    <!--ir buscar o css-->
    <link rel="stylesheet" href="test.css">
    <!--tornar responsivo-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TITULO -->    
    <title>GO DOC ZE´S</title>
    <!--ICONS-->
    <link rel="shortcut icon" href="glasses.png">
</head>
<!--body-->
<body>

<!--CONTAINER-->
<div class="container">
<!--HEADER CONTAINER-->
<div class="header">HEADER</div>
<!--CONTAINER ESQUERDO MAIOR-->
<div class="jonas">CONTENT#1</div>
<!--CONTAINER DIREITO CIMA-->
<div class="dc">CONTENT#2</div>
<!--CONTAINER DIREITO BAIXO-->
<div class="db">CONTENT#3</div>

<!--FOOTER-->
<div class="footer">FOOTER</div>


</div>


<!--footer-->
<footer>
</footer>
</body>
</html>