body {
    background-color: powderblue;
    margin: 0;
  }
.container{
width: 100vw;
height: 100vh;
font-family: 'Quicksand',sans-serif;
font-weight: bold;
font-size: 20px;



display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: 50px 1fr 1fr 100px;
gap: 10px;

padding: 10px;
box-sizing: border-box;
}

.container div{
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
}

.header{

    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;

}

.jonas{
text-align: center;
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 4;
}

.footer{

    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
}